.git
.gitignore
settings.json
.venv
.docker
app-data
uploads
runs
outputs
__pycache__
*.pyc
*.pyo
*.pyd
worker/.venv
worker/.pytest_cache
worker/__pycache__
worker/tests/__pycache__
src
web/bin
web/obj
web/node_modules
web/wwwroot/vendor
